## Agenda

- Scope of a variable
- Introduction of a list
- Creating a list
- Indexing
- Negative Indexing
- Add an element to the list
- Iterate the list

In [ ]:
x = 20
def func():
  x = 10
  print(x)
func()
print(x)

10
20

In [ ]:
## Quiz 1

cc = 2
if False:
    cc = 66
def f():
    if True:
        cc = 40
f()
print(cc)

In [ ]:
x = 20
def func():
  global x
  x = 10
  print(x)
func()
print(x)

In [ ]:
# Create a list

runs = [100, 50, 60, 30, 10]

In [ ]:
# how to check the type of the variable

type(runs)

list

In [ ]:
# create an Empty list
runs = []

runs = list()

type(runs)

list

In [ ]:
runs = [100, 50, 60, 30, 10]

# Access the first element

print(runs[0])

100

In [ ]:
print(runs[4])

10

In [ ]:
print(runs[5])

IndexError: list index out of range

In [ ]:
l = [5, 1, -2, 2, 3, 4]
print(l[2])

-2

In [ ]:
# Total elements present in the list??

len(runs)

5

In [ ]:
# What is the index for last element of a list size n?

# Ans: n-1

In [ ]:
runs = [100, 50, 60, 10, 20]

runs[4]

20

In [ ]:
runs[len(runs)-1]

20

In [ ]:
runs[-1]

20

In [ ]:
runs = [10, 55, 4, 67, 17]
print(runs[0]+runs[-1]+runs[-3])

31

In [ ]:
runs

[10, 55, 4, 67, 17]

In [ ]:
runs.append(20)

In [ ]:
runs.append(100)

In [ ]:
runs

[10, 55, 4, 67, 17, 20, 100]

In [ ]:
runs = [10, 55, 4, 67, 17]
runs.append(6)
runs.append(200)
print(runs[-1] + runs[2])

204

In [ ]:
# Add a new element at a particular position

runs.insert(1, 100)
print(runs)

[10, 100, 55, 4, 67, 17, 6, 200]

In [ ]:
runs.insert(0, 90)
print(runs)

[90, 10, 100, 55, 4, 67, 17, 6, 200]

In [ ]:
# Add multiple values at once

news_lst = [10, 20, 30]
runs.extend([100, 200, 300])
print(runs)

[90, 10, 100, 55, 4, 67, 17, 6, 200, 10, 20, 30, 100, 200, 300]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Iterating over the list

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = iter(range(10))
i

In [ ]:
next(i)

0

In [ ]:
next(i)

1

In [ ]:
next(i)

StopIteration:

In [ ]:
runs = [10, 20, 30, 40, 50]

for i in runs:
  print(i)

10
20
30
40
50

In [ ]:
my_list = [1, 2, 3, 4, 5]
i = -1
while i >= -5:
    print(my_list[i], end=" ")
    i -= 1

5 4 3 2 1

In [ ]:
runs = [67, 54, 12, 34, 77, 89, 101]


# min runs scored by sachin

print(min(runs))

12

In [ ]:
min_runs = 10000000
for i in runs:
  if i < min_runs:
    min_runs = i

print(min_runs)

12

In [ ]:
# Max runs scored by sachin

print(max(runs))


# HW WRITE A CODE WITH OUT USING INBUILT FUCNTION

101

In [ ]:
# Total runs scored by sachin

total = 0
for i in runs:
  total += i
print(total)

434

In [ ]:
print(sum(runs))

434

In [ ]:
avg = sum(runs) / len(runs)
avg

62.0

In [ ]:
# Calculate sum of runs made by sachin in all matches with even index

runs = [67, 54, 12, 34, 77, 89, 101]
total = 0
for i in runs:
  if i % 2 == 0:
    total += i
print(total)

100

In [ ]:
total = 0
for i in range(len(runs)):
  if i % 2== 0:
    total = total + runs[i]
print(total)

257

In [ ]:
total = 0
for i in range(0, len(runs), 2):
  total = total + runs[i]
print(total)

257

In [ ]:
# Quiz

my_list = [10, 20, 30, 40, 50]
i = 0
while i < len(my_list):
    my_list[i] *= 2
    i += 1
print(my_list)

[20, 40, 60, 80, 100]