## Agenda

- Dunder / Magic Methods
- Encapsulation
- Access Modifiers in Python
- Getters and Setters in python
- Inheritance
- Method Overriding
- Method Resolution order

In [ ]:
class Car:
  wheels = 4

  def func(satish, a):
    satish.wheels = a

c = Car()
c.func(10)
print(c.wheels)

d = Car()
d.func(20)
print(d.wheels)

Car().wheels

10
20

4

In [ ]:
class Employee:

  def __init__(self, name, age, salary=1000000):
    self.name = name
    self.age = age
    self.salary = salary


  def __str__(self):
    return f"{self.name} -> {self.age}"


  def __add__(self, other1, other2):
    return self.name + other.name + str(self.age)


  def __lt__(self, other):
    return self.salary < other.salary


e1 = Employee('satish', 28, 10000)
e2 = Employee('pavan', 30, 20000)
print(e1)
print(e2)
print(e1+e2)

satish -> 28
pavan -> 30

In [ ]:
class A:
  def __init__(self, a):
    self.a = a
  def __add__(self, b):
    if isinstance(b, int):
      return A(self.a + b)
    return A(self.a + b.a)
  def __str__(self):
    return f"{self.a}"


one = A(1)
two = A(2)

print(one + two + 100)

103

In [ ]:
isinstance('satish', str)

True

In [ ]:
class Car:
  def __init__(self, model, color, price):
    self.model = model
    self.color = color
    self.price = price

  def drive(self):
    print('zoom zoom')


c = Car('sedan', 'black', 1000000)
c.price = 'xyz'

c2 = Car('sedan', 'white', 1000989)
print(c.price)

xyz

In [ ]:
class Employee:

  def __init__(self, name, age, salary=1000000):
    self.name = name
    self.__age = age
    self.__salary = salary


  def get_salary(self):
    return self.__salary


  def set_salary(self, salary):
    self.__salary = salary

e1 = Employee('satish', 28, 10000)

# e1.__salary
print(e1.get_salary())
e1.set_salary(20000)
print(e1.get_salary())

10000
20000

In [ ]:
class Vehicle:
  wheels = 4

  def vehicle_info(self):
    print('Inside the vehicle class')



class Car(Vehicle):

  def car_info(self):
    print('insider the car class')


c = Car()
c.vehicle_info()

Inside the vehicle class

In [ ]:
## Multiple Inheritance


class Person:
  def person_info(self, name, age):
    print('inside the person class')
    print(name, age)


class Company:
  def company_info(self, name, location):
    print('Inside the company class')
    print(name, location)


class Employee(Person, Company):
  pass

e = Employee()

e.company_info('XYZ', 'Hyderbad')
e.person_info('satish', 28)

Inside the company class
XYZ Hyderbad
inside the person class
satish 28

In [ ]:
## Multi Level Inheritance

class Vehicle:
  def vehicle_info(self):
    print('Insider the vehicle class')


class Car(Vehicle):
  def car_info(self):
    print('inside the car class')

class SportsCar(Car):
  def sportscar_info(self):
    print('insider the sports car')


s = SportsCar()

s.vehicle_info()

s.car_info()

Insider the vehicle class
inside the car class

In [ ]:
# Hierarchial Inheritance

class Vehicle:
  def vehicle_info(self):
    print("Inside vehicle")

class Car(Vehicle):

  def car_info(self):
    print('Car infon')

class Truck(Vehicle):
  def truck_info(self):
    print('truck info')


t = Truck()
t.vehicle_info()

Inside vehicle

In [ ]:
#Hybrid Inheritance

In [ ]:
class Vehicle:
  def max_speed(self):
    print('max speed is 100 km/hr')

class Car(Vehicle):
  def max_speed(self):
    print('max speed is 200 km/hr')

c = Car()
c.max_speed()

max speed is 200 km/hr

In [ ]:
class A:
  def process(self):
    print('In Class A')

class B(A):
  def process(self):
    print('In class B')

class C(B, A):
  def process(self):
    print('In Class C')


obj = C()
obj.process()

In Class C

In [ ]:
C.mro()

[__main__.C, __main__.B, __main__.A, object]

In [ ]:
class A:
  pass
class B:
  pass
class C(A, B):
  pass
class D:
  pass
class E(C, D):
  pass

E.mro()

[__main__.E, __main__.C, __main__.A, __main__.B, __main__.D, object]

In [ ]:
class A:

  def __init__(self, a, b, c):
    self.a = a
    self.b = b
    self.c = c

class B(A):

  def __init__(self, a, b, c,d):
    super().__init__(a, b, c)
    self.d = d


b = B(10, 20, 30, 40)
b.b

20

In [ ]:
class Animal:
    def __init__(self, species, age, name):
        # write the method

        self.species = species
        self.age = age
        self.name = name

    def __str__(self):
        return f"Name: {self.name}, Species: {self.species}, Age: {self.age}"

# Compelte the class
class Bird(Animal):
    def __init__(self, species, age, name, can_fly):
        # complete the method
        super().__init__(species, age, name)
        self.can_fly = can_fly

    def __str__(self):
        # complete the method
        fly_data = 'Yes' if self.can_fly else 'No'
        return f"Name: {self.name}, Species: {self.species}, Age: {self.age}, Can Fly: {fly_data}"

class Zoo:
    def __init__(self):
        # complete the method
        self.animals = []

    def add_animal(self, animal):
        # complete the method
        self.animals.append(animal)

    def list_animals(self):
        # complete the method
        for animal in self.animals:
            print(animal)

In [ ]:
class fruits:
  def __init__(self, price):
    self.price = price
obj=fruits(50)
obj.quantity=10
obj.bags=2
print(obj.quantity+len(obj.__dict__))

13

In [ ]:
len(obj.__dict__)

3