## Agenda

- Tuples

- Sets

In [ ]:
planets = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urnus', 'neptune']

planets[2] = 'satish'
planets

['mercury', 'venus', 'satish', 'mars', 'jupiter', 'saturn', 'urnus', 'neptune']

In [ ]:
## Tuple
# Collection of data but can't be changed the values

t = ('mercury', 'venus', 'earth')
print(t)

('mercury', 'venus', 'earth')

In [ ]:
type(t)

tuple

In [ ]:
t[2] = 'satish'

TypeError: 'tuple' object does not support item assignment

In [ ]:
lst = [10, 20, (10, 20, 30)]
lst[2]

(10, 20, 30)

In [ ]:
t = ([10, 20, 30], 10, 20)
t[0]

[10, 20, 30]

In [ ]:
# Create a tuple

t = ()
t = tuple()
type(t)

tuple

In [ ]:
t = ('satish')
type(t)

str

In [ ]:
t = (10)
type(t)

int

In [ ]:
a = (10 + 20 + 30)
a

60

In [ ]:
t = (10, 20)
type(t)

tuple

In [ ]:
t = (10,)
type(t)

tuple

In [ ]:
t = ('satish', 'atcha')
type(t)

tuple

In [ ]:
print(type((1,2,3)))

<class 'tuple'>

In [ ]:
T1 = (1)
T2 = (3, 4)
T1 += 5
print(T1)

6

In [ ]:
t = [10, 20, 30] + [40, 50, 60]
t

[10, 20, 30, 40, 50, 60]

In [ ]:
t=tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

In [ ]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(len(z))

In [ ]:
## Iteration, Indexing and Slicing on Tuple

t = (10, 20, 30, 40, 50)
t[2]

30

In [ ]:
t[-1]

50

In [ ]:
t[::2]

(10, 30, 50)

In [ ]:
t[::-1]

(50, 40, 30, 20, 10)

In [ ]:
#Iteration

t = (10, 20, 30, 40, 50)

for i in t:
  print(i)

10
20
30
40
50

In [ ]:
for i in range(len(t)):
  print(t[i])

10
20
30
40
50

In [ ]:
a = 10
b = 20

temp = a
a = b
b = temp
print(a, b)

20 10

In [ ]:
a = 10
b = 20
a, b = b, a
print(a, b)

20 10

In [ ]:
def fun(a, b):
  return b, a

a, b = fun(10, 20)
print(a, b)

20 10

In [ ]:
a, b = [10, 30]
print(a, b)

10 30

In [ ]:
a = (10, 20, 10, 30, 40)
a.count(40)

1

In [ ]:
a.index(30)

3

In [ ]:
lst = [10, 20, 30, 10]
print(lst)

[10, 20, 30, 10]

In [ ]:
scaler_academy = ['anchal', 'vimlesh', 'suraj', 'satish']
scaler_dsml = ['yogesh', 'pavan', 'anchal']

In [ ]:
## Sets

admissions = {'anchal', 'vimlesh', 'suraj', 'anchal'}
admissions

{'anchal', 'suraj', 'vimlesh'}

In [ ]:
admissions[0]

TypeError: 'set' object is not subscriptable

In [ ]:
l = [1, 1, 2, 2, 3, 3]
s = set(l)
print(len(s))

3

In [ ]:
s

{1, 2, 3}

In [ ]:
set('hello world')

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [ ]:
admissions

{'anchal', 'suraj', 'vimlesh'}

In [ ]:
'satish' in admissions

False

In [ ]:
lst = [10, 20, 30, 40]
20 in lst

True

In [ ]:
for i in admissions:
  print(i)

anchal
suraj
vimlesh

In [ ]:
# Unique words in the given string
msg = "be the change you wish to see in the world"
lst = msg.split()
set(lst)

{'be', 'change', 'in', 'see', 'the', 'to', 'wish', 'world', 'you'}

In [ ]:
msg = "you are number 1"
set(msg.split())

{'1', 'are', 'number', 'you'}

In [ ]:
admissions

{'anchal', 'suraj', 'vimlesh'}

In [ ]:
admissions.add('piyush')
admissions

{'anchal', 'piyush', 'suraj', 'vimlesh'}

In [ ]:
## mutiple items

admissions.update({'niraj', 'shubham', 'madhuri', 'yogesh'})
admissions

{'anchal',
 'madhuri',
 'niraj',
 'piyush',
 'shubham',
 'suraj',
 'vimlesh',
 'yogesh'}

In [ ]:
admissions.pop()

'madhuri'

In [ ]:
admissions.remove('yogesh')
admissions

{'anchal', 'niraj', 'piyush', 'shubham', 'suraj', 'vimlesh'}

In [ ]:
admissions.discard('suraj')
admissions

{'anchal', 'niraj', 'piyush', 'shubham', 'vimlesh'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits.update(["mango", "grape"])
print(len(fruits))

6

In [ ]:
A = {'a', 'b', 'c'}
B = {'b', 'd', 'e'}
A.intersection(B)

{'b'}

In [ ]:
A.union(B)

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
A.difference(B)

{'a', 'c'}

In [ ]:
B.difference(A)

{'d', 'e'}

In [ ]:
A.symmetric_difference(B)

{'a', 'c', 'd', 'e'}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 6, 7, 8}